<%= form_with(model: scan) do |form| %>

  <div class="field form-group">
    <% form.label :isbn, style: "display: block" %>
    <%= number_field :isbn, class: "form-control" %>
    <%= form.submit "Search", class: 'btn btn-primary btn-sm' %>
  </div>
    
<% end %>
